.beer-single-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    
  }

  .mat-mdc-card{
    background-color: #4d4d4d;
  }

  img{
    width: 18vh;
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: auto;
  }

  .mat-mdc-card-subtitle {
    color: #EF6C00
  }