.beer-single-header-image {
  background-image: url('../../assets/beer_history_images/square.jpg');
  background-size: contain;
}

.mat-mdc-card {
  background-color: #4d4d4d;
}

img {
  width: 15vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: auto;
}

.mat-mdc-card-subtitle {
  color: #EF6C00
}

.beer-single-description-header {
  margin-bottom: 3px;
  color: #EF6C00;
  font-size: 15px;
  font-weight: var(--mdc-typography-headline6-font-weight, 500);
}

.beer-single-description {
  margin-bottom: 5px;
  inline-size: 90%;
  word-wrap: break-word;
}

.flex-child-image {
  flex: 1;
  margin: auto;
}

.flex-child-description {
  flex: 1;
  margin: 10px;
}

.flex-parent {
  display: flex;
  width: auto;
}

.mat-mdc-checkbox.mat-accent {
  color: #EF6C00;
  --mdc-checkbox-unselected-icon-color: #000000;
  --mdc-checkbox-unselected-hover-icon-color: #000000;
  --mdc-checkbox-selected-focus-icon-color: #EF6C00;
  --mdc-checkbox-selected-hover-icon-color: #EF6C00;
  --mdc-checkbox-selected-icon-color: #EF6C00;
  --mdc-checkbox-selected-pressed-icon-color: #EF6C00;
}

::ng-deep .mat-mdc-checkbox label{
  color: #EF6C00;
  font-weight: var(--mdc-typography-headline6-font-weight, 500);
}