<!-- Toolbar -->

<div class="content" role="main">
  <div class="toolbar" role="banner">
    <div [routerLink]="['']" style="cursor: pointer">
      <img style="background-color:rgb(58, 58, 58); border-radius: 10%;" width="40" alt="Angular Logo" src="../assets/general/logo2.png" />
      <span style="font-size: x-large">BeerHub</span>
    </div> 
    <div class="spacer"></div>
    <button mat-raised-button color="primary" [routerLink]="['beer-list']">
      Beer list
    </button>
    <div style="justify-content: center; display: flex; min-width: 10vw;">
      <asl-google-signin-button
        *ngIf="!this.loggedIn"
        type="icon"
        size="medium"
        shape="circle"
        width="300"
      ></asl-google-signin-button>
      <img *ngIf="user" src="{{ user.photoUrl }}" referrerpolicy="no-referrer" style="border-radius: 50%; height: 5vh; width: 5vh;"/>
    </div>
    <button *ngIf="user" mat-raised-button color="primary" style="padding-right: 2vw;" (click)="signOut()">
      Sign out
    </button>
  </div>

  <div [ngClass]="{ page: !isHomeRoute() }">
    <router-outlet></router-outlet>
  </div>
  <!-- Footer -->
  <footer>
    Love our site?&nbsp;
    <a href="https://github.com/Sleyn2/BeerHub" target="_blank" rel="noopener">
      Give our repo a star.
    </a>
  </footer>
</div>
