<!-- Toolbar -->

<div class="content" role="main">
  <div class="toolbar" role="banner">
    <div [routerLink]="['']">
      <img
        width="40"
        alt="Angular Logo"
        src="../assets/general/logo2.png"
      />
      <span>BeerHub</span>
    </div>
    <div class="spacer"></div>
    <button mat-button color="primary" [routerLink]="['beer-list']">
      Lista
    </button>
  </div>

  <div class="page">
    <router-outlet></router-outlet>
  </div>
  <!-- Footer -->
  <footer>
    Love our site?&nbsp;
    <a href="https://github.com/Sleyn2/BeerHub" target="_blank" rel="noopener">
      Give our repo a star.
    </a>
  </footer>
</div>
