<!-- Toolbar -->

<div class="content" role="main">
  <div class="toolbar" role="banner">
    <div [routerLink]="['']" style="cursor: pointer">
      <img width="40" alt="Angular Logo" src="../assets/general/logo2.png" />
      <span style="font-size: x-large">BeerHub</span>
    </div>
    <div class="spacer"></div>
    <button mat-raised-button color="primary" [routerLink]="['beer-list']">
      Lista
    </button>
  </div>

  <div [ngClass]="{ page: !isHomeRoute() }">
    <div style="justify-content: center; display: flex">
      <asl-google-signin-button
        *ngIf="!this.loggedIn"
        type="icon"
        size="medium"
        shape="circle"
        width="300"
      ></asl-google-signin-button>
      <img src="{{ user?.photoUrl }}" referrerpolicy="no-referrer" />
      <div>
        <h4>{{ user?.name }}</h4>
        <p>{{ user?.email }}</p>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
  <!-- Footer -->
  <footer>
    Love our site?&nbsp;
    <a href="https://github.com/Sleyn2/BeerHub" target="_blank" rel="noopener">
      Give our repo a star.
    </a>
  </footer>
</div>
