table {
  width: 100%;
}

.mat-table {
  overflow-y: scroll;
  height: 80vh;
}

.mat-mdc-cell,
.mat-sort-header-content {
  text-align: center !important;
}

::ng-deep .mat-mdc-form-field {
  flex-direction: unset !important;
  width: 80%;
}

.mat-cell,
.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0px 10px;
  line-break: unset;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}

.mat-row,
.mat-header-row {
  display: table-row;
}

.table-content {
  padding: 50px;
}

.mat-column-name {
  width: 35%;
}