table {
  width: 100%;
}

::ng-deep .mat-mdc-table, .mdc-data-table__content {
  border-bottom-right-radius: var(--mdc-shape-small, 4px);
  border-bottom-left-radius: var(--mdc-shape-small, 4px);
}

.mat-mdc-cell,
.mat-sort-header-content {
  text-align: center !important;
}

.mat-mdc-form-field {
  flex-direction: unset !important;
  width: 30vw;
  display: inline-flex;
}

::ng-deep .mdc-text-field {
  border-top-right-radius: 0 !important;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  width: 0px !important;
}

.mat-mdc-paginator {
  width: 45vw;
  float:right;
  display: inline-flex;
  border-top-right-radius: var(--mdc-shape-small, 4px);
}

.mat-cell,
.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0px 10px;
  line-break: unset;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}

.mat-row,
.mat-header-row {
  display: table-row;
}

.table-content {
  padding: 50px;
}

.mat-column-name {
  width: 35%;
}