// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$BeerHub-primary: mat.define-palette(mat.$amber-palette);
$BeerHub-accent: mat.define-palette(mat.$orange-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$BeerHub-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$BeerHub-theme: mat.define-light-theme(
  (
    color: (
      primary: $BeerHub-primary,
      accent: $BeerHub-accent,
      warn: $BeerHub-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($BeerHub-theme);

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

// html {
//   background: -webkit-gradient(linear, left top, left bottom, from(#7c7c7c), to(#4d4d4d)) fixed;
// }

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  font-family: Nunito Sans !important;
  background:none;
}

html {	
  height: auto;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFC107), color-stop(0.25, #FFB300), color-stop(0.5, #FFA000), color-stop(0.75, #FF8F00), to(#FF6F00)) fixed;

	//background: linear-gradient(to bottom, #B721FF, #2AF598, #fec051, #FEE140, #FA709A );
	background-size: 100%;
	background-repeat: no-repeat;
}

html:before{
	content:'';
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: -1;
	background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.2), #1d1d1d 75%);
}

a:link {
  color: #FFA000;
}

a:visited {
  color: #EF6C00
}