<section class="page-section">
  <div class="container">
    <ul class="linetime">
      <li>
        <div class="linetime-img rounded-circle">
          <img
            src="../../assets/beer_history_images/Present.jpg"
            alt=""
            class="img-fluid"
          />
        </div>
        <div class="linetime-panel">
          <div class="linetime-panel-heading">
            <h2>Present</h2>
          </div>
          <div class="linetime-panel-subheading">
            <h2>Belowed Drink</h2>
          </div>
          <div class="linetime-panel-content">
            <p class="text-muted">
              Beer is now loved all around the world for its taste and long
              tradition. Today, the brewing industry is a huge global business,
              consisting of several multinational companies, and many thousands
              of smaller producers ranging from brewpubs to regional breweries.
              Advances in refrigeration, international and transcontinental
              shipping, marketing and commerce have resulted in an international
              marketplace, where the consumer has literally hundreds of choices
              between various styles of local, regional, national and foreign
              beers.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="linetime-img rounded-circle">
          <img
            src="../../assets/beer_history_images/Hydrometer.jpg"
            alt=""
            class="img-fluid"
          />
        </div>
        <div class="linetime-panel inverted">
          <div class="linetime-panel-heading">
            <h2>1770</h2>
          </div>
          <div class="linetime-panel-subheading">
            <h2>Introduction of hydrometer</h2>
          </div>
          <div class="linetime-panel-content">
            <p class="text-muted">
              The hydrometer transformed how beer was brewed. Before its
              introduction beers were brewed from a single malt: brown beers
              from brown malt, amber beers from amber malt, pale beers from pale
              malt. Using the hydrometer, brewers could calculate the yield from
              different malts. They observed that pale malt, though more
              expensive, yielded far more fermentable material than cheaper
              malts. Once this was known, brewers switched to using mostly pale
              malt for all beers supplemented with a small quantity of highly
              coloured malt to achieve the correct colour for darker beers.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="linetime-img rounded-circle">
          <img
            src="../../assets/beer_history_images/Smoke.jpg"
            alt=""
            class="img-fluid"
          />
        </div>
        <div class="linetime-panel">
          <div class="linetime-panel-heading">
            <h2>16th - 18th century</h2>
          </div>
          <div class="linetime-panel-subheading">
            <h2>Smoky Beers Era</h2>
          </div>
          <div class="linetime-panel-content">
            <p class="text-muted">
              Prior to the late 18th century, malt was primarily dried over
              fires made from wood, charcoal, or straw, and after 1600, from
              coke. In general, none of these early malts would have been well
              shielded from the smoke involved in the kilning process, and
              consequently, early beers would have had a smoky component to
              their flavors; evidence indicates that maltsters and brewers
              constantly tried to minimize the smokiness of the finished beer.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="linetime-img rounded-circle">
          <img
            src="../../assets/beer_history_images/Lagers.jpg"
            alt=""
            class="img-fluid"
          />
        </div>
        <div class="linetime-panel inverted">
          <div class="linetime-panel-heading">
            <h2>16th century</h2>
          </div>
          <div class="linetime-panel-subheading">
            <h2>Discovery of Lagers</h2>
          </div>
          <div class="linetime-panel-content">
            <p class="text-muted">
              Most beers until relatively recent times were top-fermented.
              Bottom-fermented beers were discovered by accident in the 16th
              century after beer was stored in cool caverns for long periods;
              they have since largely outpaced top-fermented beers in terms of
              volume.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="linetime-img rounded-circle">
          <img
            src="../../assets/beer_history_images/Hans_Wertinger_Wilhelm_IV_z_Bawarii.jpg"
            alt=""
            class="img-fluid"
          />
        </div>
        <div class="linetime-panel">
          <div class="linetime-panel-heading">
            <h2>1516</h2>
          </div>
          <div class="linetime-panel-subheading">
            <h2>Reinheitsgebot</h2>
          </div>
          <div class="linetime-panel-content">
            <p class="text-muted">
              In 1516, William IV, Duke of Bavaria, adopted the Reinheitsgebot
              (purity law), perhaps the oldest food regulation still in use
              through the 20th century. The Gebot ordered that the ingredients
              of beer be restricted to water, barley, and hops; yeast was added
              to the list after Louis Pasteur's discovery in 1857. The Bavarian
              law was applied throughout Germany as part of the 1871 German
              unification as the German Empire under Otto von Bismarck, and has
              since been updated to reflect modern trends in beer brewing. To
              this day, the Gebot is considered a mark of purity in beers,
              although this is controversial.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="linetime-img rounded-circle">
          <img
            src="../../assets/beer_history_images/FirstBreweries.png"
            alt=""
            class="img-fluid"
          />
        </div>
        <div class="linetime-panel inverted">
          <div class="linetime-panel-heading">
            <h2>14th and 15th century</h2>
          </div>
          <div class="linetime-panel-subheading">
            <h2>First Breweries</h2>
          </div>
          <div class="linetime-panel-content">
            <p class="text-muted">
              In Europe, beer brewing largely remained a home activity in
              medieval times. By the 14th and 15th centuries, beermaking was
              gradually changing from a family-oriented activity to an artisan
              one, with pubs and monasteries brewing their own beer for mass
              consumption.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="linetime-img rounded-circle">
          <img
            src="../../assets/beer_history_images/Brewery.jpg"
            alt=""
            class="img-fluid"
          />
        </div>
        <div class="linetime-panel">
          <div class="linetime-panel-heading">
            <h2>Medieval Europe</h2>
          </div>
          <div class="linetime-panel-subheading">
            <h2>Drink Of Common Folk</h2>
          </div>
          <div class="linetime-panel-content">
            <p class="text-muted">
              Beer was one of the most common drinks during the Middle Ages. It
              was consumed daily by all social classes in the northern and
              eastern parts of Europe where grape cultivation was difficult or
              impossible. Though wine of varying qualities was the most common
              drink in the south, beer was still popular among the lower
              classes.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="linetime-img rounded-circle">
          <img
            src="../../assets/beer_history_images/hop-vines-g94732a59a_1920.jpg"
            alt=""
            class="img-fluid"
          />
        </div>
        <div class="linetime-panel inverted">
          <div class="linetime-panel-heading">
            <h2>9th century</h2>
          </div>
          <div class="linetime-panel-subheading">
            <h2>Hops</h2>
          </div>
          <div class="linetime-panel-content">
            <p class="text-muted">
              Flavoring beer with hops was known at least since the 9th century,
              but was only gradually adopted because of difficulties in
              establishing the right proportions of ingredients. Before that,
              gruit, a mix of various herbs, had been used, but did not have the
              same preserving properties as hops. Beer flavored without it was
              often spoiled soon after preparation and could not be exported.
              The only other alternative was to increase the alcohol content,
              which was rather expensive. Hopped beer was perfected in the
              medieval towns of Bohemia by the 13th century.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="linetime-img rounded-circle">
          <img
            src="../../assets/beer_history_images/AncientGreece.jpg"
            alt=""
            class="img-fluid"
          />
        </div>
        <div class="linetime-panel">
          <div class="linetime-panel-heading">
            <h2>5th Century BCE</h2>
          </div>
          <div class="linetime-panel-subheading">
            <h2>Ancient Greece</h2>
          </div>
          <div class="linetime-panel-content">
            <p class="text-muted">
              The Greek writer Sophocles discussed the concept of moderation
              when it came to consuming beer in Greek culture, and believed that
              the best diet for Greeks consisted of bread, meats, various types
              of vegetables, and beer or "ζῦθος" (zythos) as they called it. The
              ancient Greeks also made barleywine (Greek: "κρίθινος οἶνος" –
              krithinos oinos, "barley wine") mentioned by Greek historian
              Polybius in his work The Histories, where he states that
              Phaeacians kept barleywine in silver and golden kraters.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="linetime-img rounded-circle">
          <img
            src="../../assets/beer_history_images/tutanchamon-g011b68554_1920.jpg"
            alt=""
            class="img-fluid"
          />
        </div>
        <div class="linetime-panel inverted">
          <div class="linetime-panel-heading">
            <h2>20th Century BCE</h2>
          </div>
          <div class="linetime-panel-subheading">
            <h2>Ancient Egypt</h2>
          </div>
          <div class="linetime-panel-content">
            <p class="text-muted">
              Beer was part of the daily diet of Egyptian pharaohs over 5,000
              years ago. Then, it was made from baked barley bread, and was also
              used in religious practices. During the building of the Great
              Pyramids in Giza, Egypt, each worker got a daily ration of four to
              five liters of beer, which served as both nutrition and
              refreshment that was crucial to the pyramids' construction.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="linetime-img rounded-circle">
          <img
            src="../../assets/beer_history_images/babylonia.jpg"
            alt=""
            class="img-fluid"
          />
        </div>
        <div class="linetime-panel">
          <div class="linetime-panel-heading">
            <h2>25th Century BCE</h2>
          </div>
          <div class="linetime-panel-subheading">
            <h2>Ancient Babylonia</h2>
          </div>
          <div class="linetime-panel-content">
            <p class="text-muted">
              The Ebla tablets, discovered in 1974 in Ebla, Syria, show that
              beer was produced in the city in 2500 BC. Early traces of beer and
              the brewing process have been found in ancient Babylonia as well.
              At the time, brewers were women as well, but also priestesses.
              Some types of beers were used especially in religious ceremonies.
              In 2100 BC, the Babylonian king Hammurabi included regulations
              governing tavern keepers in his law code for the kingdom.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="linetime-img rounded-circle">
          <img
            src="../../assets/beer_history_images/assyria-g13b41bda8_1920.jpg"
            alt=""
            class="img-fluid"
          />
        </div>
        <div class="linetime-panel inverted">
          <div class="linetime-panel-heading">
            <h2>35th Century BCE</h2>
          </div>
          <div class="linetime-panel-subheading">
            <h2>Ancient Mesopotamia</h2>
          </div>
          <div class="linetime-panel-content">
            <p class="text-muted">
              In ancient Mesopotamia, clay tablets indicate that the majority of
              brewers were probably women, and that brewing was a fairly well
              respected occupation during the time, being the only profession in
              Mesopotamia which derived social sanction and divine protection
              from female deities/goddesses, specifically: Ninkasi, who covered
              the production of beer, Siris, who was used in a metonymic way to
              refer to beer, and Siduri, who covered the enjoyment of beer.
              Mesopotamian brewing appears to have incorporated the usage of a
              twice-baked barley bread called bappir, which was exclusively used
              for brewing beer. It was discovered early that reusing the same
              container for fermenting the mash would produce more reliable
              results; brewers on the move carried their tubs with them.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="linetime-img rounded-circle">
          <img
            src="../../assets/beer_history_images/london-g18e203f3f_1920.jpg"
            alt=""
            class="img-fluid"
          />
        </div>
        <div class="linetime-panel">
          <div class="linetime-panel-heading">
            <h2>40th Century BCE</h2>
          </div>
          <div class="linetime-panel-subheading">
            <h2>First Known Brewing</h2>
          </div>
          <div class="linetime-panel-content">
            <p class="text-muted">
              The first written records of brewing come from Mesopotamia
              (ancient Iraq), with the oldest in the Sumerian language from
              approximately 4,000 BC. These include early evidence of beer in
              the 3,900-year-old Sumerian poem honoring Ninkasi, the patron
              goddess of brewing, which contains the oldest surviving beer
              recipe, describing the production of beer from barley via bread.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="linetime-img rounded-circle text-center">
          <img
            src="../../assets/beer_history_images/square.jpg"
            alt=""
            class="img-fluid"
          />
          <!-- <h4>
                            Be(er) Part
                            <br />
                            Of This
                            <br />
                            Story!
                        </h4> -->
        </div>
      </li>
    </ul>
  </div>
</section>
