<div class="tree">
    <div class="resize_like_image">
        <ul>
            <li>
                <div>
                    <h1>Beer</h1>
                    <div class="tree-img rounded-circle">
                        <img src="../../assets/beer_history_images/Present.jpg" alt="" class="img-fluid">
                    </div>
                </div>
                <ul>
                    <!-- LAGERS -->
                    <li>
                        <h1>Lager</h1>
                        <div class="tree-img rounded-circle">
                            <img src="../../assets/beer_history_images/Present.jpg" alt="" class="img-fluid">
                        </div>
                        <ul>
                            <li>
                                <div class="tree-header">
                                    German Lager
                                </div>
                                <div class="tree-img rounded-circle">
                                    <img src="../../assets/beer_history_images/Present.jpg" alt="" class="img-fluid">
                                </div>
                            </li>
                            <li>
                                <div class="tree-header">
                                    American Lager
                                </div>
                                <div class="tree-img rounded-circle">
                                    <img src="../../assets/beer_history_images/Present.jpg" alt="" class="img-fluid">
                                </div>
                            </li>
                            <li>
                                <div class="tree-header">
                                    European Lager
                                </div>
                                <div class="tree-img rounded-circle">
                                    <img src="../../assets/beer_history_images/Present.jpg" alt="" class="img-fluid">
                                </div>
                            </li>
                            <li>
                                <div class="tree-header">
                                    Pilsner
                                </div>
                                <div class="tree-img rounded-circle">
                                    <img src="../../assets/beer_history_images/Present.jpg" alt="" class="img-fluid">
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- ALES -->
                    <li>
                        <h1>Ale</h1>
                        <div class="tree-img rounded-circle">
                            <img src="../../assets/beer_history_images/Present.jpg" alt="" class="img-fluid">
                        </div>
                        <ul>
                            <li>
                                <div class="tree-header">
                                    Mild Ale
                                </div>
                                <div class="tree-img rounded-circle">

                                    <img src="../../assets/beer_history_images/Present.jpg" alt="" class="img-fluid">
                                </div>
                            </li>
                            <li>
                                <div class="tree-header">
                                    German Ale
                                </div>
                                <div class="tree-img rounded-circle">
                                    <img src="../../assets/beer_history_images/Present.jpg" alt="" class="img-fluid">
                                </div>
                            </li>
                            <li>
                                <div class="tree-header">
                                    Brown Ale
                                </div>
                                <div class="tree-img rounded-circle">

                                    <img src="../../assets/beer_history_images/Present.jpg" alt="" class="img-fluid">
                                </div>
                            </li>
                            <li>
                                <div class="tree-header">
                                    Lambic Ale
                                </div>
                                <div class="tree-img rounded-circle">

                                    <img src="../../assets/beer_history_images/Present.jpg" alt="" class="img-fluid">
                                </div>
                            </li>
                            <li>
                                <div class="tree-header">
                                    Pale Ale
                                </div>
                                <div class="tree-img rounded-circle">

                                    <img src="../../assets/beer_history_images/Present.jpg" alt="" class="img-fluid">
                                </div>
                            </li>
                            <li>
                                <div class="tree-header">
                                    Belgian Ale
                                </div>
                                <div class="tree-img rounded-circle">

                                    <img src="../../assets/beer_history_images/Present.jpg" alt="" class="img-fluid">
                                </div>
                            </li>
                            <li>
                                <div class="tree-header">
                                    Irish Ale
                                </div>
                                <div class="tree-img rounded-circle">

                                    <img src="../../assets/beer_history_images/Present.jpg" alt="" class="img-fluid">
                                </div>
                            </li>
                            <li>
                                <div class="tree-header">
                                    Porter
                                </div>
                                <div class="tree-img rounded-circle">

                                    <img src="../../assets/beer_history_images/Present.jpg" alt="" class="img-fluid">
                                </div>
                            </li>
                            <li>
                                <div class="tree-header">
                                    Stout
                                </div>
                                <div class="tree-img rounded-circle">

                                    <img src="../../assets/beer_history_images/Present.jpg" alt="" class="img-fluid">
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>