body {
  padding-top: 50px; /* small fix */
}

::ng-deep .carousel-inner {
  border-radius: 50px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}


.carousel-inner > .item > img {
  width: 100%; /* to make smaller images look full */
}

.carousel-inner > .item {
  width: 100%;
}

.image {
    width: 100%;
}